{% extends 'template/base.twig' %}

{% block title %}Threads{% endblock %}

{% block body %}
<div foo class="p-4 flex flex-col items-start w-full">
    {% for thread in threads %}
        {% include 'threads/thread/card.twig' with { thread: thread, url: url } %}
    {% endfor %}
    <script>
    console.log('Threads page loaded');
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('article[data-href]').forEach(function(article) {
                article.addEventListener('click', function() {
                    window.location.href = article.getAttribute('data-href');
                });
            });
        });
    </script>
</div>
{% endblock %}
